[submodule "opencode-source"]
	path = opencode-source
	url = https://github.com/Sewer56/opencode.git
[submodule "config/plugins/opencode-plugin-md-expand"]
	path = config/plugins/opencode-plugin-md-expand
	url = https://github.com/Sewer56/opencode-plugin-md-expand.git
	branch = main
